<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>経済システム</title>
    <link rel="stylesheet" href="./exstyles.css">
</head>
<body>
    <header class="custom-header">
        <div class="header-logo">
            <a href="#">OptimusInteractive
            </a>
        </div>
        <nav class="header-nav">
            <a href="/home">ホーム</a>
            <a href="/service">サービス一覧</a>
            <a href="/explain"class="active">Minecraft経済システム</a>
            <a href="/" >ユーザー登録</a>
            <a href="mypage.optimusservers.net">マイページログイン</a>
        </nav>
        <div class="header-actions">
            <a href="#">メニュー</a>
        </div>
    </header>
    <main>
        <h2>目次</h2>
        <ul>
            <li><a href="#">1. 経済システム</a></li>
            <li><a href="#">2. 経済システムの利用方法</a></li>
            <li><a href="#">3. 経済システムでできること</a></li>
            <li><a href="#">4. マイページの登録に必要な情報について</a></li>
            <li><a href="#">5. 資料</a></li>
            <li><a href="#">6. その他</a></li>
        </ul>
        <section>
            <h3>経済システム</h3>
            <p></p>
        </section>
    </main>
</body>
</html>
