<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OptimusInteractiveサービス一覧</title>
    <link rel="stylesheet" href="./services.css">
</head>
<body>
    <header class="custom-header">
        <div class="header-logo">
            <a href="#">OptimusInteractive
            </a>
        </div>
        <nav class="header-nav">
            <a href="/home">ホーム</a>
            <a href="/service" class="active">サービス一覧</a>
            <a href="/explain">Minecraft経済システム</a>
            <a href="/">ユーザー登録</a>
            <a href="mypage.optimusinteractive.net">マイページログイン</a>
        </nav>
        <div class="header-actions">
            <a href="#">メニュー</a>
        </div>
    </header>

    <main>
        <br>
        <br>
        <section class="service-category">
            <h2>Minecraftサーバー</h2>
            <div class="service-item">
                <h3>サーバー運営</h3>
                <p> 販売数世界一のサンドボックスゲーム「Minecraft」のサードパーティーオンラインサーバーを提供します</p>
                <a href="#">→</a>
            </div>
            <div class="service-item">
                <h3>経済システムプラグイン</h3>
                <p>   マイクラサーバーでのゲーム内通貨を用いた他ユーザーとの取引などが行えるシステムです。</p>
                <a href="#">→</a>
            </div>
            <div class="service-item">
                <h3>マイクラユーザー認証システム</h3>
                <p>   マイクラサーバー内のユーザーとWEBアプリ上のユーザーを紐づける認証システムです</p>
                <a href="#">→</a>
            </div>
        </section>

        <section class="service-category">
            <h2>WEBアプリ</h2>
            <div class="service-item">
                <h3>マイクラサーバー向けマイページ</h3>
                <p>マインクラフトサーバーでの経済システムをはじめとする様々な情報を閲覧できる他、外にいてもスマホ一つで取引などができます</p>
                <a href="#">→</a>
            </div>
            <div class="service-item">
                <h3>Optimusフォーム</h3>
                <p>OptimusInteractive独自のフォーム収集アプリです。（現在開発中）</p>
                <a href="#">→</a>
            </div>
            <div class="service-item">
                <h3>Minecraftサーバーランキング</h3>
                <p>長者番付をはじめとする、全ユーザーの各項目でのランキングなどを見ることができます。（現在開発中）</p>
                <a href="#">→</a>
            </div>


        <section class="service-category">
            <h2>その他</h2>
            <div class="service-item">
                <h3>マイクラサーバー運営者向けシステム</h3>
                <p>ゲーム内でのアイテムの価格の調整や、取引の様子などがWEB上で確認、変更できるサービス</p>
                <a href="#">→</a>
            </div>
            <div class="service-item">
                <h3></h3>
                <p></p>
                <a href="#">→</a>
            </div>
            <div class="service-item">
                <h3></h3>
                <p></p>
                <a href="#">→</a>
            </div>
        </section>
    </main>
</body>
</html>
