<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>デジタル庁 ウェブサービス・アプリケーション</title>
    <link rel="stylesheet" href="./services.css">
</head>
<body>
    <header class="custom-header">
        <div class="header-logo">
            <a href="#">OptimusInteractive
            </a>
        </div>
        <nav class="header-nav">
            <a href="#">ホーム</a>
            <a href="/explain">サービス一覧</a>
            <a href="/explain">Minecraft経済システム</a>
            <a href="#" class="active">ユーザー登録</a>
            <a href="/">マイページログイン</a>
        </nav>
        <div class="header-actions">
            <a href="#">メニュー</a>
        </div>
    </header>

    <main>
        <section class="service-category">
            <h2>マイクラサーバー</h2>
            <div class="service-item">
                <h3>サーバー運営</h3>
                <p>   販売数世界一のサンドボックスゲーム「Minecraft」のサードパーティーオンラインサーバーを提供します</p>
                <a href="#">→</a>
            </div>
            <div class="service-item">
                <h3>経済システム</h3>
                <p>   マイクラサーバーでのゲーム内通貨を用いた他ユーザーとの取引などが行えるWEBアプリケーションです</p>
                <a href="#">→</a>
            </div>
            <div class="service-item">
                <h3>マイクラユーザー認証システム</h3>
                <p>   マイクラサーバー内のユーザーとWEBアプリ上のユーザーを紐ずける認証システムです</p>
                <a href="#">→</a>
            </div>
        </section>

        <section class="service-category">
            <h2>WEBアプリ</h2>
            <div class="service-item">
                <h3></h3>
                <p></p>
                <a href="#">→</a>
            </div>
        </section>
    </main>
</body>
</html>
